{% extends "base.html" %}

{% block content %}
<h1 class = "mb-5">Система мониторинга публикаций </h1>
<div class="d-grid gap-2 col-md-6 mx-auto">
    <a href="/publications" class="btn btn-primary btn-lg">Перейти к списку публикаций</a>
    <a href="/add_source" class="btn btn-primary btn-lg">Добавить источник</a>
    <a href="/generate_report" class="btn btn-primary btn-lg">Сгенерировать отчет</a>
    <a href="/sources" class="btn btn-primary btn-lg">Просмотр источников</a>
</div>
{% endblock %}